{% extends  './base.html' %}

{% load static %}

{% block content %}

<!-- About Part Start -->
<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about-content">
            <div class="row">
              <div class="col-lg-8 col-md-7">
                <h6>About Our Journal</h6>
                <p>World Journal of Biotechnology and Bioengineering (WJBB) is an Open access, Peer-reviewed, monthly Journal, publishes all the basic and applied research and technologies in the field of Biotechnology & Bioengineering.
                </p>
              </div>
              <div class="col-lg-4 col-md-5">
                <img src="{% static 'images/about.jpg' %}" alt="image" class="w-100">
              </div>
            </div>
            <h6 style="margin-top: 30px;">Aims and Scope</h6>
            <p>World Journal of Biotechnology and Bioengineering (WJBB) is an international wide scope, peer-reviewed open access journal for the publication of original papers concerned with diverse aspects of bio-science application, technology and engineering.</p>
            <p>WJBB aims to present full-length original research articles and reviews, short communications, case studies and letters to editor in all areas of biotechnological and bioengineering research.  It emphasizes understanding and advancing of the basics and applied biotechnology and bioengineering including any related economic, environmental and policy issues for the betterment of mankind.</p>
            <p style="font-style: italic;font-weight: 500;"><u>Areas and subareas of interest including but not limited to</u></p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="fas fa-check-circle"></i>Animal Biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Medical Biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Plant Biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Microbial Biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Marine biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Environmental biotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Bioinformatics and Bioenergetics</li>
                  <li><i class="fas fa-check-circle"></i>Biochemistry of the living cell</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="fas fa-check-circle"></i>Inorganic biochemistry</li>
                  <li><i class="fas fa-check-circle"></i>Protein chemistry</li>
                  <li><i class="fas fa-check-circle"></i>Enzymology</li>
                  <li><i class="fas fa-check-circle"></i>Cytology</li>
                  <li><i class="fas fa-check-circle"></i>Neurobiology</li>
                  <li><i class="fas fa-check-circle"></i>Biothermodynamics</li>
                  <li><i class="fas fa-check-circle"></i>Biosensors and instrumentation</li>
                  <li><i class="fas fa-check-circle"></i>Synthetic biology</li>
                </ul>
              </div>
            </div>
                <ul>
                  <li><i class="fas fa-check-circle"></i>Enzyme systems and their applications, including enzyme reactors, purification, and applied aspects of protein engineering</li>
                  <li><i class="fas fa-check-circle"></i>Animal-cell biotechnology, including media development</li>
                  <li><i class="fas fa-check-circle"></i>Applied aspects of cellular physiology, metabolism, and energetics</li>
                  <li><i class="fas fa-check-circle"></i>Biocatalysis and applied enzymology, including enzyme reactors, protein engineering, and nanobiotechnology</li>
                  <li><i class="fas fa-check-circle"></i>Biomaterials, including delivery systems and materials for tissue engineering</li>
                  <li><i class="fas fa-check-circle"></i>Computational and systems biology, including bioinformatics and genomic/proteomic studies</li>
                  <li><i class="fas fa-check-circle"></i>Environmental biotechnology, including biofilms, algal systems, and bioremediation</li>
                  <li><i class="fas fa-check-circle"></i>Metabolic and cellular engineering</li>
                  <li><i class="fas fa-check-circle"></i>Spectroscopic, Chromatographic and other analytical techniques for biotechnological applications</li>
                  <li><i class="fas fa-check-circle"></i>Tissue engineering, stem-cell bioengineering, regenerative medicine, gene therapy and delivery systems</li>
                  <li><i class="fas fa-check-circle"></i>Biological processes and industrial applications</li>
                  <li><i class="fas fa-check-circle"></i>Biotechnology for renewable energy (Bioenergy including Biofuel) </li>
                  <li><i class="fas fa-check-circle"></i>Innovation in biotechnology and bioethics and more.</li>
                  <li><i class="fas fa-check-circle"></i>Bioprocess engineering, including kinetics and modeling of biological systems, transport phenomena in bioreactors, bioreactor design, monitoring, and control</li> 
                </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- About Part End -->

{% endblock %}