{% extends  './base.html' %}

{% load static %}

{% block content %}

  <!-- Contact Us Part Start -->
  <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Archives</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->

 <!-- Archives Part Start -->
 <section id="archive">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="archive-details">
            <h6>2021</h6><br>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
              <a href="#">January 2021: Volume 3 Issue 1</a>
            </div>
            <h6 style="margin-top: 25px;">2020</h6><br>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">November 2020: Volume 2 Issue 7</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">October 2020: Volume 2 Issue 6</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">June 2020: Volume 2 Issue 5</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">June 2020: Volume 2 Issue 4</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">March 2020: Volume 2 Issue 3</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">February 2020: Volume 2 Issue 2</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">January 2020: Volume 2 Issue 1</a>
            </div>
            <h6 style="margin-top: 25px;">2019</h6><br>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">November 2019: Volume 1 Issue 7</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">October 2019: Volume 1 Issue 6</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">June 2019: Volume 1 Issue 5</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">June 2019: Volume 1 Issue 4</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">March 2019: Volume 1 Issue 3</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">February 2019: Volume 1 Issue 2</a>
            </div>
            <div class="archive-link">
              <img src="{% static 'images/caret-right.png' %}" alt="image">
            <a href="#">January 2019: Volume 1 Issue 1</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="other-journal">
            <h6>Our Other Journals</h6>
            <div class="row">
              <div class="col-lg-6 col-6 col-md-4">
                <div class="mr2">
                  <a href="#">
                    <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-6 col-md-4">
                <div class="mr2">
                  <a href="#">
                    <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-6 col-md-4">
                <div class="mr2">
                  <a href="#">
                    <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-6 col-md-4">
                <div class="mr2">
                  <a href="#">
                    <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                  </a>
                </div>
              </div>
              <div class="col-lg-6 col-6 col-md-4">
                <div class="mr2">
                  <a href="#">
                    <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="ad text-center">
            <h6 style="margin-bottom: 0;">Ads Here</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Archives Part End -->

{% endblock %}