{% extends  './base.html' %}

{% load static %}

{% block content %}

    <!-- Contact Us Part Start -->
    <section id="contact">
        <div class="container banner-bg">
          <div class="row">
            <div class="col-lg-12">
              <div class="contact-bg">
                <h6>Article Processing Charges</h6>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Us Part End -->
  
      <!-- Article Processing Charges Part Start -->
      <section id="charges">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="charges-content">
                <h6>Publication Charges</h6>
                <p>As World Journal of Biotechnology and Bioengineering is an Open access publishing that does not receive payment for subscription, as the articles are freely accessible over the internet. Authors of articles are required to pay a fair handling fee for processing their articles. However, there are no submission charges. Authors are required to make payment only after their article or manuscript has been accepted for publication. Hence, the operation of the Journal is solely financed by the handling fees received from authors. The handling fees are required to meet maintenance of the journal. A fee of $600 is charged for each article accepted for publication. Waivers of charges for authors from low-income countries are available. A limited number of waivers for article-processing charges are also available at the editors' discretion. Authors wishing to apply for these waivers should contact the editors.</p>
                <div class="row">
                  <div class="col-lg-8 m-auto">
                    <table width="100%" border="1" cellpadding="0" cellspacing="0" >
                      <tr>
                          <td colspan="2"><div align="center" style="padding: 12px 0;"> <strong> World Journal of Biotechnology and Bioengineering </strong> </div></td>
                      </tr>
                        <tr>
                          <td width="50%"><div align="center" style="padding: 12px 0;color: #8c7ae6;font-weight: 600;">&nbsp;Article Processing Charges (APC)</div></td>
                          <td width="50%" ><div align="center" style="padding: 12px 0;color: #8c7ae6;font-weight: 600;">&nbsp;$600</div></td>
                      </tr>
                  </table>
                  </div>
                </div>
              <h5><span style="color: #218c74;font-weight: 600;">Note: </span>Discount on APC will be provided on request for authors from developing countries.</h5>
              <h6>Transaction Charges</h6>
              <p> All the service or transaction charges will have to be paid by the authors which include inter banking charges, wire transfer charges etc.</p>
              <h6>Withdrawal Policy</h6>
              <p>Author may withdraw an article before the review process is completed. Withdrawal of article is not allowed after it is processed for publication. There is no charge for withdrawal of an article.</p>
              <h6>Refund Policy</h6>
              <p>SheBa Publication will not refund the Article Processing Charges once an article has been accepted and published. SheBa Publication will refund Article Processing Charges if an error occurs on our part and if article it is not published online within 30days after the payment is made.</p>
              <h6>Payment Method</h6>
              <p>
                Payments can be made through Master Card, Visa Card, American Express etc globally. We also accept direct Bank Transfer, to know more about the bank transfer process please send us an email on info@w-jbb.com
              </p>
              <p>Once the order is processed, the fee will not be refunded unless World Journal of Biotechnology and Bioengineering ceases its publication.</p> 
              <p> <b>
                <a href="/payment">To Make Payment With Visa Card or Master Card "Please Click Here"</a>
              </p> </b>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Article Processing Charges Part End -->
  


{% endblock %}