{% extends './base.html' %}

{% load static %}

{% block content %}

<!-- Join Us Part Start -->
<section id="join">
  <div class="container cmn-bg">
    <div class="row">
      <div class="col-lg-12">
        <div class="join-bg text-center">
          <h6>Author Guidelines</h6>
          <p style="margin-bottom: 0;">World Journal of Biotechnology and Bioengineering is an Open access,
            Peer-reviewed, monthly Journal, publishes all the basic and applied research and technologies in the field
            of Biotechnology & Bioengineering. The instructions for authors include information about preparing a
            manuscript, criteria for publication and the policy.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Join Us Part End -->

<!-- Resources Part Start -->
<section id="resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="resources-details">
          <div class="row">
            <div class="col-lg-4">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                  aria-controls="v-pills-home" aria-selected="true">Preparation of Manuscript</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false">Paper Copyright Form</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                  aria-controls="v-pills-messages" aria-selected="false">Privacy Statement</a>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active mr4" id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="resources-content">
                    <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Preparation of main Manuscript
                    </h5>
                    <p>General guidelines of the journal's style and language are given below.</p>
                    <h6>1. Language</h6>
                    <p>Manuscripts submitted to WJBB should be written in English. Papers written in any other language
                      would not be accepted. <u><i>Spelling should be US English or British English but not a
                          mixture.</i></u></p>
                    <h6>2. Text layout</h6>
                    <p>The standard manuscript length is six pages.</p>
                    <p>Manuscript should be Microsoft word (.doc, .docx) files. A4 page margins should be margins: top =
                      24 mm, bottom = 24 mm, side = 15 mm. Main text given A double column format. The column width is
                      87mm (3.425 in). The space between the two columns is 6 mm (0.236 in). Paragraph indentation is
                      3.5 mm (0.137 in). Position figures and tables at the tops and bottoms of columns. Avoid placing
                      them in the middle of columns. Large figures and tables may span across both columns. Figure
                      captions should be centred below the figures; table captions should be centred above. Avoid
                      placing figures and tables before their first mention in the text. Use the abbreviation “Fig. 1,”
                      even at the beginning of a sentence. The font used is Times New Roman and a text size of "10" is
                      used for the main text body (see template for details).</p>
                    <p><u><i>Research Papers</i></u> should not exceed 12 printed pages in two-column publishing format,
                      including figures and tables.</p>
                    <p><u><i>Technical Notes</i></u> and <u><i>Letters</i></u> should not exceed 3,000 words.</p>
                    <p><u><i>Reviews</i></u> should not exceed 25 printed pages in two-column publishing format,
                      including figures and tables.</p>
                    <h6>3. Article style</h6>
                    <p>Authors must strictly follow the guide for authors, or their articles may be rejected without
                      review. Editors reserve the right to adjust the style to certain standards of uniformity. Follow
                      Title, Authors, Affiliations, Abstract, Keywords, Introduction, Materials and Methods, Result,
                      Discussion, Conclusions, Acknowledgements, References order when typing articles. The
                      corresponding author should be identified with an asterisk and footnote. Collate acknowledgements
                      in a separate section at the end of the article and do not include them on the title page, as a
                      footnote to the title or otherwise.</p>
                    <p><u><i>Generally papers are divided into the following sections (in this order):</i></u></p>
                    <ul>
                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Title</i></u> The title should be limited to 25
                        words or less and should not contain abbreviations.The font size of the title can be 22 in size.
                        The title should be a brief phrase describing the contents of the paper. Complete names and
                        affiliation of all authors, including contact details of corresponding author (Telephone, Fax
                        and E-mail address).</li>

                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                          style="font-size: 16px;font-weight: bold;">Authors’ Names</i></u> The authors’ names should be 12 fonts in size.
                          <br> &#187; If the authors are from different institutions, a superscript Arabic numeral, i.e., 1, 2,...,n, which
                          corresponds to the appropriate listed institution(s), should follow each author’s name.
                          <br> &#187; An asterisk (*) should follow the name(s) of corresponding author(s).
                          <br> &#187; In the case of authors making equal contributions, the following sentence can be given as a footnote:
                          “These authors contributed equally to this work." A dagger should follow the authors’ names.
                      </li>

                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                        style="font-size: 16px;font-weight: bold;">Authors’ Affiliations </i></u>
                        
                        <br> &#187; Use no abbreviations except for “Company”, “Incorporated”, and “Limited”.
                        <br> &#187; Give adequate postal addresses including the ZIP or other postal code and the name of the country.
                        <br> &#187; If an author’s present or permanent address differs from the given address, it should be given as a footnote beginning with “Present address:” or “On leave from,” which is cited with a symbol
                        (sequence: †, ‡, §, ¶, ∥, ∗∗, ††, ‡‡).
                        <br> &#187; E-mail address(es) of corresponding author(s) can be given after the institution(s) beginning with “E-mail:” (up to three addresses delimited with a semicolon)

                    </li>

                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Abstract</i></u> The abstract should be informative and completely self-explanatory, briefly present the topic, state the scope of the experiments, indicate significant data, and point out major findings and conclusions. The abstract should summarize the manuscript content in 300 words or less. Standard nomenclature should be used and abbreviations should be avoided. The preferable format should accommodate a description of the study background, methods, results and conclusion.</li>
                      <li><i class="fas fa-circle"></i><u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Keywords</i></u>3 to 5 key words should be provided below the abstract to assist with indexing of the article.</li>
                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Introduction</i></u> The introduction should set
                        the tone of the paper by providing a clear statement of the study, the relevant literature on
                        the study subject and the proposed approach or solution. The introduction should be general
                        enough to attract a reader’s attention from a broad range of scientific disciplines.</li>
                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Methods and materials </i></u>This section should
                        provide a complete overview of the design of the study. Detailed descriptions of materials or
                        participants, comparisons, interventions and types of analysis should be mentioned. However,
                        only new procedures should be described in detail; previously published procedures should be
                        cited and important modifications of published procedures should be mentioned briefly.
                        Capitalize trade names and include the manufacturer's name and address.</li>
                      <li><i class="fas fa-circle"></i> <u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Results and discussion</i></u> The results
                        section should provide complete details of the experiment that are required to support the
                        conclusion of the study. The results should be written in the past tense when describing
                        findings in the authors'experiments. Previously published findings should be written in the
                        present tense. Results and discussion may be combined or in a separate section. Speculation and
                        detailed interpretation of data should not be included in the results but should be put into the
                        discussion section.</li>
                      <li><i class="fas fa-circle"></i><u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Conclusions</i></u> The main conclusions of the experimental work should be presented. The contribution of the work to the scientific community and its economic implications should be emphasized.</li>
                      <li><i class="fas fa-circle"></i><u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">Acknowledgements</i></u> The source of financial support must be acknowledged. Technical and all others assistances also be acknowledged.</li>
                      
                      <li><i class="fas fa-circle"></i><u style="color: #28a745;"><i
                          style="font-size: 16px;font-weight: bold;">Conflict of Interest </i></u> 
                          A conflict of interest exists when judgment regarding the research is influenced by factors such as financial gain or personal relationships. All authors are required to disclose any financial, personal or other associations that may influence or be perceived to influence, their work.</li>
                      
                            <li><i class="fas fa-circle"></i><u style="color: #28a745;"><i
                            style="font-size: 16px;font-weight: bold;">References</i></u> 
                              Authors ensure that every reference cited in the text is also present in the reference list (and
                              viceversa). Unpublished results and personal communications are not recommended in the reference
                              list, but may be mentioned in the text. Citation of a reference as “in press” implies that the
                              item has been accepted for publication. ., All references must be numbered consecutively.
                              Citations of references in the text should be identified using numbers in square brackets [1].
                              Punctuation follows the bracket [2]. Refer simply to the reference number, as in [3].
                            <p>Books</p>
                            <ul style="margin-left: 35px;">
                              <li> [1]
                                J. Clerk Maxwell, A Treatise on Electricity and Magnetism, 3rd ed., vol. 2. Oxford:Clarendon
                                Press, 1892, pp.68-73.</li>
                            </ul>
                            <p>Journals</p>
                            <ul style="margin-left: 35px;">
                              <li> [2]
                                Yorozu, J., Hirano, M., Oka, K and Tagawa, L. Electron spectroscopy studies on magneto-optical
                                media and plastic substrate interface. Transl. J. Magn. Japan, vol. 2, pp. 740-741, August 1987.
                              </li>
                            </ul>
                            <p>Conferences</p>
                            <ul style="margin-left: 35px;">
                              <li> [3]
                                Çolak I., Kabalci E., Bayindir R., and Sagiroglu S. The design and analysis of a 5-level
                                cascaded voltage source inverter with low THD. 2nd Powe rEng Conference, Lisbon, pp. 575-580,
                                18-20 March 2009.</li>
                            </ul>
                            <p>Please download and follow the WJBB TEMPLATE to format your manuscript.
                              All instructions and styles are included in the template in order to help authors to achieve fast
                              and easy formating.
                            </p></li>
                            </ul>
                    <h6>4. Abbreviations and Acronyms</h6>
                    <p>Define abbreviations and acronyms the first time they are used in the text, even if they have
                      been defined in the abstract. Abbreviations such as IEEE, SI, MKS, CGS, sc, dc, and rms do not
                      have to be defined. Do not use abbreviations in the title unless they are unavoidable</p>
                    <p>The Accession Numbers of any nucleic acid sequences, protein sequences or atomic coordinates
                      cited in the manuscript should be provided, in square brackets and include the corresponding
                      database name; for example, [EMBL:AB026295, EMBL:AC137000, DDBJ:AE000812, GenBank:U49845,
                      PDB:1BFM, Swiss-Prot:Q96KQ7, PIR:S66116].</p>
                    <h6>5. Preparation of Figures</h6>
                    <p>All graphics and figures in good quality should be attached directly in the body of the paper.
                      Large figures can span both columns. Colour figures and pictures are accepted provided that they
                      are of good quality. In addition to using figures in the text, upload each figure as a separate
                      file in either .tiff or .eps format during submission, with the figure number .</p>
                    <p><i><u> All illustrations must be supplied at the correct resolution:</u></i></p>
                    <ul>
                      <li><i class="fas fa-circle"></i> Black and white and colour photos - 300 dpi</li>
                      <li><i class="fas fa-circle"></i> Graphs, drawings, etc - 800 dpi preferred; 600 dpi minimum</li>
                      <li><i class="fas fa-circle"></i> Combinations of photos and drawings (black and white and color)
                        – 500
                        Dpi</li>
                    </ul>
                    <p>Please note that it is the author’s responsibility to obtain permission from the copyright holder
                      to reproduce figures or tables that have previously been published elsewhere.</p>
                    <h6>6. Preparation of Tables</h6>
                    <p>All Tables should be attached directly in the body of the paper. Table captions need to be
                      written in the same format as the figure captions; for example, “Table 1. Examination score.”.
                      Tables should be referenced in the text unabbreviated as “Table 1.” Tables should be cited
                      consecutively in the text.</p>
                    
                    <h6>7. Paper Proofs Set</h6>
                    <p>All accepted paper articles are copyedited before publication of the final version in the form of
                      a provisional PDF. Edited versions will be sent to authors by email and corrections should be
                      returned within three to five working days for publication. Please provide a typed list of
                      corrections clearly indicating where the corrections should be made and please send this list by
                      email. WJBB will do everything possible to ensure prompt publication. It will therefore be
                      appreciated if the manuscripts, tables and figures conform from the outset to the style of the
                      journal.</p>
                    <h6>8. Submission Preparation Checklist</h6>
                    <p>As part of the submission process, authors are required to check off their submission's
                      compliance with all of the following items, and submissions may be returned to authors that do not
                      adhere to these guidelines.</p>
                    <ul>
                      <li>1. The submission has not been previously published, nor is it before another archival journal
                        for consideration (or an explanation has been provided in Comments to the Editor).</li>
                      <li>2. The submission file is in pdf (*.pdf) file format. Do not upload doc or docx files
                      </li>
                      <li>3. The author is willing to pay the Publication Fee or sound justification for asking partial
                        or complete waiver is provided in Comments to the Editor</li>
                      <li>4. The manuscript adheres to the stylistic and bibliographic requirements outlined in the
                        Author Guidelines and the author has followed the WJBB Template to format the manuscript.</li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade mr4" id="v-pills-profile" role="tabpanel"
                  aria-labelledby="v-pills-profile-tab">
                  <div class="resources-content">
                    <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Paper Copyright Form</h5>
                    <p>Authors need to sign the copyright form and sent to publisher that the original work/ research
                      are properly cited for publication.</p>
                  </div>
                </div>
                <div class="tab-pane fade mr4" id="v-pills-messages" role="tabpanel"
                  aria-labelledby="v-pills-messages-tab">
                  <div class="resources-content">
                    <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Privacy Statement</h5>
                    <p>The names and email addresses entered in this journal site will be used exclusively for the
                      stated purposes of this journal and will not be made available for any other purpose or to any
                      other party.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Resources Part End -->


{% endblock %}