{% extends  './base.html' %}

{% load static %}

{% block content %}


  <!-- Contact Us Part Start -->
  <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Editorial Board</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->

  <!-- Editorial Board Part Start -->
  <section id="editorial-board">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="editorial-boards">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="editorial-details">
                  <!-- <img src="../images/mam.png" alt="images" style="width: 120px;height: 120px;margin-bottom: 15px;border-radius: 50%;"> -->
                  <h5 style="margin-bottom: 0;">Editor In Chief</h5>
                  <p>Dr. Anjuman Shelly
                  </p>
                  <a href="#">anjushell@gmail.com</a>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="editorial-details">
                  <!-- <img src="../images/sir.jpg" alt="images" style="width: 120px;height: 120px;margin-bottom: 15px;border-radius: 50%;"> -->
                  <h5 style="margin-bottom: 0;">Editorial Director</h5>
                  <p>Dr. Moinuddin Sarkar
                  </p>
                  <a href="#">msarker@wastetechnologiesllc.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Editorial Board Part End -->


{% endblock %}