{% extends  './base.html' %}

{% load static %}

{% block content %}

  <!-- Contact Us Part Start -->
  <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Our Mission</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->


  <!-- Mission Part Start -->
  <section id="mission">
    <div class="container">
      <div class="row">
        <div class="mission-content">
          <div class="row">
            <div class="col-lg-6">
              <img src="{% static 'images/mission.jpg' %}" alt="image" class="w-100">
            </div>
            <div class="col-lg-6">
              <h6>Our mission is your success</h6>
              <p>Our mission is to provide rapid publication of high quality original works within one month of final acceptance. Manuscripts will be accepted with the understanding that they report original unpublished works and are not under consideration for publication by any other journal. All manuscripts submitted to WJBB will be subject to review by three reviewers. High confidence is maintained to all the submitted Manuscripts, having access only by the Editor-in-Chief, the Managing Editor, the journal's secretary and the reviewers.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Mission Part End -->

{% endblock %}