{% extends  './base.html' %}

{% load static %}

{% block content %}

<!-- Contact Us Part Start -->
<section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Our Polices</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->
  
  <!-- Resources Part Start -->
  <section id="resources">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="resources-details">
            <div class="row">
              <div class="col-lg-4">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Open Access</a>
                  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Article Posting Policy</a>
                  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Advertising Policy</a>
                  <a class="nav-link" id="v-pills-messages-tab2" data-toggle="pill" href="#v-pills-messages2" role="tab" aria-controls="v-pills-messages2" aria-selected="false">Article Processing Charges</a>
                  <a class="nav-link" id="v-pills-messages-tab3" data-toggle="pill" href="#v-pills-messages3" role="tab" aria-controls="v-pills-messages3" aria-selected="false">Publication Ethics</a>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active mr4" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="resources-content">
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Why Publish Open Access?</h5>
                      <p>Open Access refers to the free and unrestricted online availability and access to scientific research. Ever since the launch of the internet, accessibility of data has become easier than ever before. Carrying out the same philosophy, the open access publishing model provides the wide availability of scientific content to everyone allowing academicians to maximize the impact of their research.</p>
                      <p>Publishing Open Access is extremely beneficial to Authors, Readers and even Funding Organizations as it offers a greater impact of research. It ensures that manuscripts are available for unlimited and unrestricted access to students, teachers, and researchers across the globe. This is extremely useful for authors who have spent years working on discovering new technologies and methodologies to be able to share it with the entire world.</p>
                      <p>Open Access is very valuable as it accelerates the pace of innovation allowing researchers to build on existing research and opens the door for wider collaborations and conversations. The same applies for educational institutes by using the most up-to-date information and encouraging businesses to implement pioneering research into the latest technologies.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Open Access Policy</h5>
                      <p>Open access publishing provides immediate, worldwide free access to all published manuscripts. Readers can view, download, print, and redistribute any article without any financial barrier, enabling greater distribution of an article.</p>
                      <p>The publication costs of an article are paid from an author’s research budget, or by their supporting institution. These Article Processing Charges replace subscription charges covers the costs of manuscript processing, online availability, hosting and archiving. All Science Publications’ content is archived in Portico, which provides archiving services to scholarly journals.</p>
                      <p>All Science Publication’s journals adhere to the open access policy. Once our highly qualified Editorial Board has accepted the manuscript, authors will receive an invoice including the publication charges for their manuscript.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade mr4" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="resources-content">
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Article Posting Policy</h5>
                      <p>SheBa Publication does not consider posting a manuscript on a pre-print server or conference presentations to be a duplicate publication. Authors can post their article or manuscript to online repositories, personal and institutional websites prior to acceptance. Before acceptance of the article or manuscript, authors cannot associate that to any SheBa Publications journals.</p>
                      <p>We allow the final version of all published articles or manuscripts to be placed in any digital archive, personal and institutional websites immediately on publication. Authors are advised to acknowledge the journal on the website where they have posted it, add the citation information, and link it to the online abstract.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade mr4" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <div class="resources-content">
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Advertising Policy</h5>
                      <p>SheBa Publication publishes high quality peer-reviewed scholarly journals. These journals are indexed with important bibliographic databases including Scopus, EMBASE, CAS, Agricultural Digest, ASCI-Database, CSA, and Medical Digest.</p>
                      <p>All the contents published in various journals of SheBa Publication are linked by DOIs through CrossRef. The DOI, or digital object identifier, serves as a persistent, actionable identifier for intellectual property online. CrossRef is the official DOI registration agency for scholarly and professional publications, including journals, books, and other content types.</p>
                      <ul>
                        <li><i class="fas fa-circle"></i> All advertisements are subject to the approval of SheBa Publication and can be rejected or canceled at any time by the publisher.</li>
                        <li><i class="fas fa-circle"></i> The advertiser agrees to hold harmless SheBa Publications against expenses and losses resulting from the publication of the advertisement.</li>
                        <li><i class="fas fa-circle"></i> All advertisements must clearly and prominently identify the advertiser by trademark or signature.</li>
                        <li><i class="fas fa-circle"></i> Any references to SheBa Publication's advertisements, promotional material, or merchandising by the advertiser is subject to SheBa Publications’ approval.</li>
                        <li><i class="fas fa-circle"></i> SheBa Publications cannot guarantee fixed advertisement positioning.</li>
                        <li><i class="fas fa-circle"></i> All advertisements published by SheBa Publication will be displayed at random unless otherwise instructed by the advertiser, in which case additional charges may be applied.</li>
                        <li><i class="fas fa-circle"></i> SheBa Publications will not be bound by any condition when such conditions conflict with the conditions set forth.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab-pane fade mr4" id="v-pills-messages2" role="tabpanel" aria-labelledby="v-pills-messages-tab2">
                    <div class="charges-content">
                      <h6>Publication Charges</h6>
                      <p>As World Journal of Biotechnology and Bioengineering is an Open access publishing that does not receive payment for subscription, as the articles are freely accessible over the internet. Authors of articles are required to pay a fair handling fee for processing their articles. However, there are no submission charges. Authors are required to make payment only after their article or manuscript has been accepted for publication. Hence, the operation of the Journal is solely financed by the handling fees received from authors. The handling fees are required to meet maintenance of the journal. A fee of $600 is charged for each article accepted for publication. Waivers of charges for authors from low-income countries are available. A limited number of waivers for article-processing charges are also available at the editors' discretion. Authors wishing to apply for these waivers should contact the editors.</p>
                      <div class="row">
                        <div class="col-lg-10 m-auto">
                          <table width="100%" border="1" cellpadding="0" cellspacing="0" >
                            <tr>
                                <td colspan="2"><div align="center" style="padding: 12px 0;"> <strong> World Journal of Biotechnology and Bioengineering </strong> </div></td>
                            </tr>
                              <tr>
                                <td width="50%"><div align="center" style="padding: 12px 0;color: #8c7ae6;font-weight: 600;">&nbsp;Article Processing Charges (APC)</div></td>
                                <td width="50%" ><div align="center" style="padding: 12px 0;color: #8c7ae6;font-weight: 600;">&nbsp;$600</div></td>
                            </tr>
                        </table>
                        </div>
                      </div>
                    <h5><span style="color: #218c74;font-weight: 600;">Note: </span>Discount on APC will be provided on request for authors from developing countries.</h5>
                    <h6>Transaction Charges</h6>
                    <p> All the service or transaction charges will have to be paid by the authors which include inter banking charges, wire transfer charges etc.</p>
                    <h6>Withdrawal Policy</h6>
                    <p>Author may withdraw an article before the review process is completed. Withdrawal of article is not allowed after it is processed for publication. There is no charge for withdrawal of an article.</p>
                    <h6>Refund Policy</h6>
                    <p>SheBa Publication will not refund the Article Processing Charges once an article has been accepted and published. SheBa Publication will refund Article Processing Charges if an error occurs on our part and if article it is not published online within 30days after the payment is made.</p>
                    <h6>Payment Method</h6>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque omnis animi vitae consectetur odit id.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade mr4" id="v-pills-messages3" role="tabpanel" aria-labelledby="v-pills-messages-tab3">
                    <div class="resources-content">
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>
                        Publication Ethics</h5>
                      <p>Ethical standards for publication exist to ensure high-quality scientific publications, public trust in scientific findings, and that people receive credit for their ideas. SheBa Publication is a member of the Committee on Publication Ethics <i style="color: #28a745;">(COPE)</i> and abides by its <i style="color: #28a745;">Code of Conduct</i> and aims to adhere to its <i style="color: #28a745;">Best Practice Guidelines</i>.</p>  
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Plagiarism</h5>
                      <p>All journals published by SheBa Publication are committed to publishing only original material, i.e., material that has neither been published elsewhere, nor is under review elsewhere. Articles or manuscripts that are found to have been plagiarized by other authors, whether published or unpublished, will incur plagiarism sanctions.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Duplicate Submission</h5>
                      <p>Articles or manuscripts that are found to have been published elsewhere, or to be under review elsewhere, will incur duplicate submission/publication sanctions. If authors have used their own previously published work or work that is currently under review, as the basis for a submitted article or manuscript, they are required to cite the previous work and indicate how their submitted article or manuscript offers novel contributions beyond those of the previous work.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Citation Manipulation</h5>
                      <p>Submitted articles or manuscripts that are found to include citations whose primary purpose is to increase the number of citations to a given author’s work, or to articles published in a particular journal, will incur citation manipulation sanctions.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Data Fabrication and Falsification</h5>
                      <p>Submitted manuscripts that are found to have either fabricated or falsified experimental results, including the manipulation of images, will incur data fabrication and falsification sanctions.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Improper Author Contribution or Attribution</h5>
                      <p>All listed authors must have made a significant scientific contribution to the research in the article or manuscript and approved all its claims. It is important to list everyone who made a significant scientific contribution, including students and laboratory technicians.
                      </p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Redundant Publications</h5>
                      <p>The redundant publication refers to publishing the same intellectual material more than once, by the author. Suspected cases of redundant submission will be handled as per the Committee on Publication Ethics (COPE) guidelines.</p>
                      <h5><i class="fas fa-journal-whills" style="margin-right: 10px;"></i>Sanctions</h5>
                      <p>In the event that there are documented violations of any of the above-mentioned policies in any journal, regardless of whether or not the violations occurred in a journal published by SheBa Publication, the following sanctions will be applied:</p>
                      <ul>
                        <li><i class="fas fa-circle"></i> Immediate rejection of the infringing article or manuscript.</li>
                        <li><i class="fas fa-circle"></i> Immediate rejection of every other article or manuscript submitted to any journal published by SheBa Publication by any of the authors of the infringing article or manuscript.</li>
                        <li><i class="fas fa-circle"></i> Prohibition against all of the authors for any new submissions to any journal published by SheBa Publication, either individually or in combination with other authors of the infringing article or manuscript, as well as in combination with any other authors. This prohibition will be imposed for a minimum of 36 months.</li>
                        <li><i class="fas fa-circle"></i> Prohibition against all of the authors from serving on the Editorial Board of any journal published by SheBa Publication.
                        </li>
                      </ul>
                      <p>In cases where the violations of the above policies are found to be particularly egregious, the publisher reserves the right to impose additional sanctions beyond those described above.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Resources Part End -->

{% endblock %}