{% extends  './base.html' %}

{% load static %}

{% block content %}

 <!-- Contact Us Part Start -->
 <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Journal Subscription</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->

  <!-- Subscription Part Start -->
  <section id="subscription">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="subscription-details">
            <!-- <h6>Supporting Our Customers</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rem rerum, officia ducimus totam aliquam possimus reiciendis libero suscipit, nihil deserunt et voluptatum. Sit maiores quod esse quisquam at laborum.</p>
            <h6>Newsletter & Updates</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius autem accusamus nesciunt corrupti fugit ipsam! Fugit deleniti ipsa aut praesentium facilis molestias distinctio quis, minima est aspernatur quibusdam rem eligendi.</p>
            <h6>Marketing Opportunities</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, amet consectetur! Eaque odio corrupti possimus, sunt, alias, voluptatibus dolores magni qui praesentium porro ipsum minima laboriosam tempore delectus dolorem quisquam. Cumque eligendi consequatur, ut quis accusantium eum commodi corrupti beatae.</p>
            <h6>Pricing Policies</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum enim fugit natus esse ullam! Quas?</p>
            <div class="subscription-form">
              <form action="">
                <div class="row">
                  <div class="col-lg-9 col-7 col-sm-8 pr-0">
                    <label class="sr-only" for="inlineFormInputGroup">Email address</label>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                          </div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter your email address">
                      </div>
                  </div>
                  <div class="col-lg-3 col-5 col-sm-4 pl-0">
                    <button type="submit" class="btn btn-primary mb-2">Subscribe</button>
                  </div>
                </div>
              </form>
            </div> -->
            <h6>General</h6>
            <div class="row">
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>Subscription will be activated only after the receipt of the full payment.</li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>Subscription rates will be revised every year.</li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>World Journal of Biotechnology and Bioengineering authority reserves all the right to change and amend the subscription policy.</li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>Institutions & companies should place an order on the letterhead on their respective institute or company.</li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>World Journal of Biotechnology and Bioengineering can merge the issues if required and can provide the subscriber the merged issue.</li>
                </ul>
              </div>
            </div>
            <h6>Payment</h6>
            <div class="row">
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>Payments can be made through Master Card, Visa Card, American Express etc globally. We also accept direct Bank Transfer, to know more about the bank transfer process please send us an email on info@w-jbb.com </li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>Once the order is processed, the subscription fee will not be refunded unless World Journal of Biotechnology and Bioengineering ceases its publication.</li>
                </ul>
              </div>
              <div class="col-lg-1 col-1 pr-0 text-center">
                <i class="fas fa-check-circle"></i>
              </div>
              <div class="col-lg-11 col-11 pl-0">
                <ul>
                  <li>The Publisher can change subscription charges & conditions and at the time of receipt of order only, recent rates will be applicable.</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="subscription-price">
                  <div class="mr12">
                    <h5>Free</h6>
                    <p style="text-align: center;">$0 Per Year</p>
                  </div>
                  <div class="mr13">
                    <ul>
                      <li><i class="fas fa-check"></i>Access to content for signed up users</li>
                      <li><i class="fas fa-times" style="color: #ff5e78;"></i>Receive the latest issue free of charge</li>
                      <li><i class="fas fa-times" style="color: #ff5e78;"></i>Article upload</li>
                      <li><i class="fas fa-times" style="color: #ff5e78;"></i>Access to premium content</li>
                      <li><i class="fas fa-times" style="color: #ff5e78;"></i>Download article in PDF format</li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="mr14">
                      <!-- <a href="#">Subscribe Now</a> -->
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="subscription-price">
                  <div class="mr12" style="background: #ff5e78;">
                    <h5>Premium</h6>
                    <p style="text-align: center;">$600 Per Year</p>
                  </div>
                  <div class="mr13">
                    <ul>
                      <li><i class="fas fa-check"></i>Access to content for signed up users</li>
                      <li><i class="fas fa-times" style="color: #ff5e78;"></i>Receive the latest issue free of charge</li>
                      <li><i class="fas fa-check"></i>Article upload</li>
                      <li><i class="fas fa-check"></i>Access to premium content</li>
                      <li><i class="fas fa-check"></i>Download article in PDF format</li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="mr14">
                      <a href="/payment">Subscribe Now</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="subscription-price">
                  <div class="mr12">
                    <h5>Ultimate</h6>
                    <p style="text-align: center;">$800 Per Year</p>
                  </div>
                  <div class="mr13">
                    <ul>
                      <li><i class="fas fa-check"></i>Access to content for signed up users</li>
                      <li><i class="fas fa-check"></i>Receive the latest issue free of charge</li>
                      <li><i class="fas fa-check"></i>Article upload</li>
                      <li><i class="fas fa-check"></i>Access to premium content</li>
                      <li><i class="fas fa-check"></i>Download article in PDF format</li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="mr14">
                      <a href="/payment_ultimate">Subscribe Now</a>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="other-journal">
              <h6>Our Other Journals</h6>
              <div class="row">
                <div class="col-lg-6 col-6 col-md-4">
                  <div class="mr2">
                    <a href="#">
                      <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-6 col-md-4">
                  <div class="mr2">
                    <a href="#">
                      <img src="{% static 'images/journal.jpg' %}" alt="image" class="w-100">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-6 col-md-4">
                  <div class="mr2">
                    <a href="#">
                      <img src="{% static 'images/journal.jpg' %}" class="w-100">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-6 col-md-4">
                  <div class="mr2">
                    <a href="#">
                      <img src="{% static 'images/journal.jpg' %}" class="w-100">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6 col-6 col-md-4">
                  <div class="mr2">
                    <a href="#">
                      <img src="{% static 'images/journal.jpg' %}" class="w-100">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="ad text-center">
              <h6 style="margin-bottom: 0;">Ads Here</h6>
            </div>
          </div>
      </div>
    </div>
  </section>

{% endblock %}