{% extends  './base.html' %}

{% load static %}

{% block content %}

  <!-- Contact Us Part Start -->
  <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Our Executive Team</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->


  <!-- Team Part Start -->
  <section id="team">
    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img src="../images/mam.png" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:anjushell@gmail.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="img-text">
              <h4>Dr. Anjuman Shelly</h4>
              <h5>Editor In Chief</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="single-team">
            <div class="img-area">
              <img src="../images/sir.jpg" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/moinuddin.sarker"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/moin1966"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:msarker@wastetechnologiesllc.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/dr-moinuddin-sarker-phd-mcic-ficer-minstp-mrsc-farss-21b51810/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="img-text">
              <h4>Dr. Moinuddin Sarkar</h4>
              <h5>Editorial Director</h5>
            </div>
          </div>
        </div> -->
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="single-team">
            <!-- <div class="img-area">
              <img src="../images/rizvy.jpg" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/sheikhsami2rizvy"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:shakhsami2rizvy@gmail.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div> -->
            <div class="img-text">
              <h4>Sheikh Md. Shamim Rizvy</h4>
              <h5>Administrator</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="single-team">
            <!-- <div class="img-area">
              <img src="../images/tanjila.jpg" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/tanjila.marjahan"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:tanjila@wtbdl.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div> -->
            <div class="img-text">
              <h4>Tanjila Marjahan</h4>
              <h5>Head Of Publication</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="single-team">
            <!-- <div class="img-area">
              <img src="../images/5547.jpg" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/profile.php?id=100005420717670"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:riyajun@wtbdl.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div> -->
            <div class="img-text">
              <h4>Tahmida Shamsuddin</h4>
              <h5>Head Of Manuscript</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="single-team">
            <!-- <div class="img-area">
              <img src="../images/sajib.jpg" class="img-responsive" alt="image" style="height: 370px;">
              <div class="social">
                <ul class="list-inline">
                  <li><a href="https://www.facebook.com/sajibmahmud.utshaw/"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/utshaw_eu"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="mailto:smahmud@shebawebtech.com"><i class="fas fa-envelope"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/md-sajib-mahmud-utshaw-68b2241a4/"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div> -->
            <div class="img-text">
              <h4>Md. Sajib Mahmud</h4>
              <h5>It Executive</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="single-team">
              <!-- <div class="img-area">
                <img src="../images/sajib.jpg" class="img-responsive" alt="image" style="height: 370px;">
                <div class="social">
                  <ul class="list-inline">
                    <li><a href="https://www.facebook.com/sajibmahmud.utshaw/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/utshaw_eu"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="mailto:smahmud@shebawebtech.com"><i class="fas fa-envelope"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/md-sajib-mahmud-utshaw-68b2241a4/"><i class="fab fa-linkedin-in"></i></a></li>
                  </ul>
                </div>
              </div> -->
              <div class="img-text">
                <h4>Sikder Sajib Al Shahriar</h4>
                <h5>It Executive</h5>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Team Part End -->




{% endblock %}