{% extends  './base.html' %}

{% load static %}

{% block content %}

 <!-- Contact Us Part Start -->
 <section id="contact">
    <div class="container banner-bg">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-bg">
            <h6>Terms and Conditions</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us Part End -->


  <!-- Copyright Part Start -->
  <section id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="privacy-policy">
            <h6>Terms Of Use</h6>
            <p>These Terms of Use are a contract between you and Sheba Publications. By using the Site you expressly agree to be bound by these Terms of Use and the site’s privacy policy and to follow these Terms of Use and all applicable laws and regulations governing use of the Site. Science Publications reserves the right to change these Terms of Use at any time, effective immediately upon posting on the Site. Please check this page of the Site periodically. We will note when there are updates to the Terms of Use at the bottom of the Terms of Use. If you violate these Terms of Use, Science Publications may terminate your use of the Site, bar you from future use of the Site, and/or take appropriate legal action against you.</p>
            <h6>Purchases</h6>
            <p>Sheba Publications accepts payment by Visa or MasterCard debit and credit cards in USD for its products and services. All online purchases are also governed by the terms and conditions of respective merchant service providers. The Cardholder must retain a copy of transaction records and Merchant policies and rules. Please review respective merchant service provider’s user agreement and privacy policy before entering any transaction.</p>
            <h6>Copyright</h6>
            <p>Unless otherwise stated, Sheba Publications and its licensors hold the copyright in all material held on this site. No material may be resold or published elsewhere without written consent, save as authorized by a license with Sheba Publications or to the extent required by the applicable law.</p>
            <h6>Limitation of liability</h6>
            <p>1. Sheba Publications does not warrant that the information in the articles is complete or accurate or free from error. Users acknowledge the need to independently verify the accuracy of all instructions, formulae and drug doses with primary sources for such information.</p>
            <p>2. No responsibility is assumed by Sheba Publications for any injury and/or damage to persons or property as a matter of products liability, negligence or otherwise, or from any use or operation of any methods, products, instructions or ideas contained in the articles. Because of rapid advances in medicine and in the pharmaceutical sciences, independent verification of diagnoses and drug dosages should be established.</p>
            <h6>Permitted use</h6>
            <p>Users may browse the site for their personal use. Unreasonable use, including the systematic downloading of content without a written license, will result in access to the site being blocked. Under no circumstances does permitted usage include any commercial exploitation of the material.</p>
            <h6>Law</h6>
            <p>These terms and conditions shall be governed by and construed in accordance with English law and you agree to submit to the exclusive jurisdiction of the English Courts as regards any claim or matter arising under these terms and conditions and/or your use of the articles. However, Sheba Publications shall have the right to bring an action against you in the courts of where you are based if it considers you are in breach of any of these terms and conditions.</p>
            <h6>Your Account</h6>
            <p>If you use the Site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your account from any devices, and you agree to accept responsibility for all activities that occur under your account or password. The Site shall not be responsible or liable, directly or indirectly, in any way for any loss or damage of any kind incurred as a result of, or in connection with, your failure to comply with this section.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Copyright Part End -->


{% endblock %}